<div class="row col-md-12 ">
    <h1 id="eventHeading" class="col-md-offset-5 ">Event details </h1>
</div>
<div class="col-md-offset-5">
    <div id="eventTitle">
        <h4>Christmas Party</h4>
    </div>
    <div id="eventLocation">
        <p>Location</p>
    </div>
    <div id="eventDate">
        <p>20/12/17</p>
    </div>
    <div id="eventDescription">
        <p>Guides annual christmas party. Bring sweets!</p>
    </div>
    <div id="numberAttending">
        <label>Number attending: </label>
        <p>100
            <p>
    </div>
    <button type="submit" class="btn btn-success">Attend</button>

</div>